In [1]:
print("Hello, World!")

Hello, World!

In [2]:
x = 1
y = "Mango"
print(x)
print(y)

1
Mango

In [3]:
x = str(1)    # x will be '3'
y = int(1)    # y will be 3
z = float(1)  # z will be 3.0

In [4]:
x = 3
y = "Apple"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [5]:
x = "Orange"
# is the same as
x = 'Orange'
x=2
print(x)

2

In [6]:
a = 5
A = "Blue"
#A will not overwrite a

In [7]:
myvar = "Green"
my_var = "Green"
_my_var = "Green"
myVar = "Green"
MYVAR = "Green"
myvar2 = "Green"

In [8]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [9]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [10]:
#list
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [11]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [12]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [13]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [14]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [15]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [16]:
x = 6
y = "Cherry"
print(x, y)

6 Cherry

In [17]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [18]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [19]:
if 5 > 2:
 print("Five is greater than two!")
 if 5 > 1:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [20]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [21]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [22]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [23]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [24]:
for x in range(7):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
Finally finished!

In [25]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [26]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome